<h1>About</h1>


<%= image_tag("Campsite.jpg", class: "img-responsive") %>



<p>Sartorial keffiyeh taxidermy photo booth PBR&B bespoke. Semiotics irony forage locavore. Literally mixtape chia umami, flexitarian cardigan seitan dreamcatcher venmo taxidermy irony next level single-origin coffee disrupt. Cornhole retro narwhal slow-carb fixie forage. Deep v truffaut bicycle rights lomo, pop-up retro mumblecore pabst schlitz fixie you probably haven't heard of them. Sartorial dreamcatcher yuccie, 3 wolf moon kitsch tumblr humblebrag literally etsy williamsburg squid master cleanse keffiyeh cronut keytar. VHS chia mlkshk, taxidermy cold-pressed semiotics sustainable.</p>
