<h2>Contact</h2>


<%= image_tag("kayak.jpg", class: "img-responsive") %>

<div class="contact" id="contactinfo">

<p>For any questions please contact us</p>

<p>520-555-5555 or 480-555-5555</p>

</div>