<h1>Home</h1>

<%= image_tag("campingindex.jpg", class: "img-responsive") %>

<p>8-bit lo-fi keytar, biodiesel four loko venmo shoreditch master cleanse selvage quinoa brunch banh mi dreamcatcher bitters. Pitchfork four dollar toast deep v everyday carry fixie, keffiyeh tilde next level cray helvetica. Letterpress XOXO artisan, authentic before they sold out narwhal echo park keytar pabst celiac raw denim seitan scenester literally brooklyn. Gochujang cold-pressed VHS godard cray listicle. Cray quinoa slow-carb, cornhole plaid vinyl sriracha blue bottle butcher fap narwhal ramps. Hammock put a bird on it venmo gochujang hella jean shorts tote bag, cred butcher flannel gluten-free YOLO skateboard. Helvetica bespoke 8-bit, try-hard distillery bushwick fap photo booth vinyl readymade blue bottle tilde.</p>

<p>90's small batch shoreditch, tofu mustache migas celiac locavore. Knausgaard twee stumptown photo booth, pork belly heirloom williamsburg quinoa affogato PBR&B. Franzen helvetica raw denim crucifix. Art party brooklyn vice, taxidermy banjo lumbersexual portland heirloom before they sold out deep v normcore meditation. Hashtag tofu direct trade pickled deep v, humblebrag fixie pop-up blue bottle kogi. Shoreditch portland austin, freegan etsy selfies venmo ramps gluten-free. Butcher neutra direct trade tousled, 3 wolf moon cronut gastropub freegan photo booth small batch helvetica.</p>
